.container {
  max-width: 100%;
}

.footer {
  background-color: #282d32;
  color: #f0f9ff;
  padding: 20px 0;
}
.item {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
}

.copyright {
  font-size: 12px;
  margin-bottom: 0;
  opacity: .5;
  padding-top: 24px;
  text-align: center;
}